<mat-card>
    <div class="forms-group"  [formGroup]="form">
      <mat-form-field>
        <input matInput
                placeholder="Title"
               formControlName="title">
    </mat-form-field>
    <mat-form-field>
        <input matInput
                placeholder="Text"
               formControlName="text">
    </mat-form-field>
    <mat-chip-list>
      <mat-chip matTooltip="label" [matTooltipPosition]="'above'" *ngFor="let label of data.labels" [selectable]="selectable"
             [removable]="removable" (removed)="remove(label,i)">
          {{label}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
    </div>    
      <mat-card-actions class="mat-card-action-notes">
        <span [ngStyle]="{'cursor':'pointer'}">
          <mat-icon matTooltip="Share to" matTooltipClass="tooltipColor" [matMenuTriggerFor]="sharing">person_add</mat-icon>
          <mat-icon matTooltip="favourite" (click)="favourite(data.index)"[ngStyle]="data.data.favourite==true ? {'color':'red'} : {'color':'pink'}">favorite</mat-icon>
        </span>      
        <p id="edited"> Edited: {{data.data.created | date:'medium'}}</p>
    </mat-card-actions>  
</mat-card>


<mat-dialog-actions>
    <button mat-icon-button matTooltip="close" [ngStyle]="{'margin-right':'10px'}" color="primary" (click)="close()">
      <mat-icon aria-label="close">clear</mat-icon>
    </button>
    <button class="mat-raised-button mat-primary" (click)="save()">update</button>
</mat-dialog-actions>

 <!--sharing picker-->
  <mat-menu #sharing="matMenu" >
    <button mat-menu-item>
      <mat-form-field (click)="$event.stopPropagation()">
        <mat-icon matSuffix>person_add</mat-icon>
        <input matInput [(ngModel)]="term" placeholder="Share with" (click)="value=''">
      </mat-form-field>
    </button>
      <div *ngIf="(typesOfShoes | filter: term).length === 0">
        <mat-card-header>
          <mat-card-title>{{term}}</mat-card-title>
          <mat-card-subtitle>No user found with this name</mat-card-subtitle>
        </mat-card-header>
      </div>
      <div [ngStyle]="{'margin-left':'0.3em'}" (click)="$event.stopPropagation()" >
        <mat-checkbox *ngFor="let shoe of typesOfShoes | filter: term ;let index=index" id="label_check+{{index}}"  class="mat-menu-item" (change)="onUpdate(index)" [(ngModel)]="friendNotesCheck[index]"  (click)="$event.stopPropagation()">{{shoe.userName}}</mat-checkbox>
      <!--</ng-template>-->
    </div>
    <!--</div>-->
    <span [ngStyle]="{'margin-left':'1.2em'}">
        <button mat-raised-button color="accent" (click)="share()">Save</button>
    </span>       
  </mat-menu> 