mat-toolbar{
    border-radius: 0 15px 15px 0;
}

.active-class{
    background: rgba(0,0,0,.04);
    transition: all .5s ease-in;
}

.icon-active{
    /*background-color: #;*/
    color: #ff4081;
    border-radius: 5px;
    transition: all .3s ease-in;
}